@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap');

* {
  font-family: 'Nunito';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-shadow: #fff 1px 0 8px;
  line-height: 2;
  font-size: 60px !important;
}

.content {
  padding: 50px;
}

.carousel-caption {
  color: white;
}

.header {
  text-align: center;
  margin-bottom: 60px;
}

.header-info {
  margin-bottom: 30px;
}

.box {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.row p {
  line-height: 1.5 !important;
}

br {
  margin: 10px;
}